<div class="modal-header">
  Set a drive
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<%= form_with model: Ride.new, scope: :drive, url: request_path, method: :get,
              html: { class: "form-group" } do |f| %>
  <div class="modal-body">
    <%= f.hidden_field :starting_lat, class: 'starting_lat' %>
    <%= f.hidden_field :destination_lat, class: 'destination_lat' %>
    <%= f.hidden_field :starting_lng, class: 'starting_lng' %>
    <%= f.hidden_field :destination_lng, class: 'destination_lng' %>
    <%= f.hidden_field :starting_id, class: 'starting_id' %>
    <%= f.hidden_field :destination_id, class: 'destination_id' %>
    <%= f.hidden_field :duration %>
    <%= f.label :starting_address %>
    <%= f.text_field :starting_address, class: 'form-control starting_address', readonly: true %>
    <%= f.label :destination_address %>
    <%= f.text_field :destination_address, class: 'form-control destination_address', readonly: true %>
    <%= f.label :scheduled_time %>
    <%= f.time_field :scheduled_time, class: 'form-control', min: Time.now %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#drive-set-window">Edit locations</button>
    <%= f.submit value:"Confirm Drive", class: "btn btn-primary" %>
  </div>
<% end %>
