<div class="font-weight-bold text-light" id="navbar" style="background-color: #065279; height: 70px">
  <div class="row w-100">
    <div class="col-md-6">
      <a class="mr-auto" href="/">
        <%= image_tag("logo.png", width: "165", height: "70") %>
        <a class="align-middle" id="toggle-text">Rider</a>
        <label class="switch">
          <input id="user-role" type="checkbox", onclick="changeUserRole();">
          <span class="slider round"></span>
        </label>
        <a class="align-middle" id="toggle-text">Driver</a>
      </a>
    </div>
    <div class="col-md-6  nav-right">
      <div class="row align-middle" style="height: 100%">
        <%= link_to("Emergency",
                    {controller: "main_pages", action: "emergency"},
                    {class: "my-auto ml-auto mr-2", style: "color: #ff461f", "data-remote" => true,
                     "data-confirm": "This will send a message to your emergency contact.\nAre you sure?"},
                    )
        %>
        <span class="text-light my-auto mx-2 align-middle position-relative">
          <%= link_to "Requests", user_request_path(id: @user.id), class: "text-light my-auto mx-2 align-middle" %>
          <span class="request_notice" hidden></span>
        </span>
        <span class="text-light my-auto mx-2 align-middle position-relative">
          <%= link_to "Drives", user_driving_path(id: @user.id), class: "text-light my-auto mx-2 align-middle" %>
          <span class="driving_notice" hidden></span>
        </span>
        <%= link_to "Profile", user_path(current_user.id), class: "text-light my-auto mx-2 align-middle" %>
        <%= link_to "Log out", logout_path, class: "text-light my-auto mx-2", method: :delete %>
      </div>

    </div>
  </div>

</div>
<div class="collapse col-md-auto menu" id="collapseMenu" style="width: 8.3%">

</div>
