<div class="font-weight-bold text-light" id="navbar" style="background-color: #065279; height: 70px">
  <div class="row w-100">
    <div class="col-md-6">
      <a class="mr-auto" href="/">
        <%= image_tag("logo.png", width: "165", height: "70") %>
        <a class="align-middle" id="toggle-text">Rider</a>
        <label class="switch">
          <input id="user-role" type="checkbox", onclick="changeUserRole();">
          <span class="slider round"></span>
        </label>
        <a class="align-middle" id="toggle-text">Driver</a>
      </a>
    </div>
    <div class="col-md-6  nav-right">
      <div class="row align-middle" style="height: 100%">
        <%= link_to "Emergency",
                    emergency_path,
                    remote: true,
                    class: "btn my-auto ml-auto mr-2",
                    style: "color: #fff; background-color: #cc0400;",
                    data: {
                      confirm: "This will send a message to your emergency contact.\nAre you sure?"
                    }
        %>
        <span class="dropdown text-light my-auto mx-2 align-middle position-relative">
          <%= link_to "Requests", user_request_path(id: @user.id), class: "text-light my-auto mx-2 align-middle" %>
          <span class="request_notice" hidden></span>
          <ul class="dropdown-menu" id="request_notice_items" hidden>
            <li class="accepted"><%= "You have #{@r_notices.where(kind: "accepted").size} requests accepted!" if @r_notices.where(kind: "accepted").size>0 %></li>
            <li class="canceled"><%= "You have #{@r_notices.where(kind: "canceled").size} requests canceled." if @r_notices.where(kind: "canceled").size>0 %></li>
            <li class="finished"><%= "You have #{@r_notices.where(kind: "finished").size} requests finished!" if @r_notices.where(kind: "finished").size>0 %></li>
          </ul>
        </span>
        <span class="dropdown text-light my-auto mx-2 align-middle position-relative">
          <%= link_to "Drives", user_driving_path(id: @user.id), class: "text-light my-auto mx-2 align-middle" %>
          <span class="driving_notice" hidden></span>
          <ul class="dropdown-menu" id="driving_notice_items" hidden>
            <li class="canceled"><%= "You have #{@d_notices.where(kind: "canceled").size} drives canceled." if @d_notices.where(kind: "canceled").size>0 %></li>
          </ul>
        </span>
        <%= link_to "Profile", user_path(current_user.id), class: "text-light my-auto mx-2 align-middle" %>
        <%= link_to "Log out", logout_path, class: "text-light my-auto mx-2", method: :delete %>
      </div>

    </div>
  </div>

</div>
