<div>
  <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
      <%= image_tag("logo.png",
                    width: "40", height: "40",
                    class: "d-inline-block align-top",
                    alt: "RideShare Logo") %>
      RideShare
    </a>

    <div class="mx-auto">
      <a class="nav-item">I need a ride</a>
      <a class="nav-item active ">
        <label class="switch">
          <input id="user-role" type="checkbox", onclick="changeUserRole();">
          <span class="slider round"></span>
        </label>
      </a>
      <a class="nav-item">I'm driving</a>
    </div>

    <a class="navbar-brand">
      <%= image_tag("emergency.png", id: "user_avatar", alt: "User avatar")%>
    </a>
    <a class="navbar-brand" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseExample">
      <%= image_tag("Hamburger.png", id: "user_avatar", alt: "User avatar") %>
    </a>

  </nav>
  <div class="collapse col-md-auto menu" id="collapseMenu">
    <%= link_to "Profile", user_path(current_user.id), class: "list-group-item list-group-item-action" %>
<!--    <a class="list-group-item list-group-item-action" href="#">Ride records</a>-->
    <%= link_to "Log out", logout_path, class: "list-group-item list-group-item-action", method: :delete %>
  </div>
</div>