<% provide(:title, 'Share Your Ride!') %>
<div style="width: 100%; height: 100%; position: relative;">
  <%= render 'nav_bar' %>
  <div class="row w-100 address_input">
    <div class="col-10">
      <input type="text" id='starting_input' class='form-control' placeholder="Where would you like to start?">
      <input type="text" id='destination_input' class='form-control' placeholder="Where would you like to go?">
    </div>
    <div class="col-2">
      <%= form_tag ride_new_path, method: :get, remote: true,
                   style: "height: 100%" do %>
        <%= hidden_field_tag 'starting_lat', "", class: 'starting_lat' %>
        <%= hidden_field_tag 'destination_lat', "", class: 'destination_lat' %>
        <%= hidden_field_tag 'starting_lng', "", class: 'starting_lng' %>
        <%= hidden_field_tag 'destination_lng', "", class: 'destination_lng' %>
        <%= hidden_field_tag 'starting_id', "", class: 'starting_id' %>
        <%= hidden_field_tag 'destination_id', "", class: 'destination_id' %>
        <%= hidden_field_tag 'starting_address', "", class: 'starting_address' %>
        <%= hidden_field_tag 'destination_address', "", class: 'destination_address' %>
        <%= hidden_field_tag 'duration' %>
        <%= hidden_field_tag 'ride', 'request' %>
        <%= submit_tag "GO!", id: "ride_button", class: "btn btn-primary btn-lg btn-block" %>
      <% end %>
    </div>
  </div>

  <div class="main_modal_buttons">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ride-request-window">
      Current Ride
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#drive-set-window">
      Current Drive
    </button>
  </div>

  <div id="map"></div>

</div>

<div id="ride-request-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        You haven't post request currently.
        <button type="button" class="close" data-dismiss="modal">x</button>
      </div>
    </div>
  </div>
</div>

<div id="drive-set-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        You haven't set drive currently.
        <button type="button" class="close" data-dismiss="modal">x</button>
      </div>
    </div>
  </div>
</div>

<script>
  <% unless @r_notices.size == 0 %>
    $(".request_notice").prop("hidden", false);
    $("#request_notice_items").prop("hidden", false);
  <% end %>

  <% unless @d_notices.size == 0 %>
    $(".driving_notice").prop("hidden", false);
    $("#driving_notice_items").prop("hidden", false);
  <% end %>
</script>

<%= render 'map_scripts' %>

<%= render 'role_scripts' %>
