<% provide(:title, 'Main page') %>
<div class="view">

  <div class="mask flex-center">
    <div class="row align-items-start">
      <div class="col-md-2 offset-1">
        <div class="card" style="width: 8rem;">
          <%= image_tag("logo.png",
                        id: "user_avatar", class: "card-img-top", alt: "User avatar") %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="avatar_drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Profile", user_path(current_user.id), class: "dropdown-item" %>
              <a class="dropdown-item" href="#">Ride records</a>
              <%= link_to "Log out", logout_path, class: "dropdown-item", method: :delete %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 col-1">
        <%= form_for(:destination, url: '#') do |f| %>
          <%= f.text_field :position,
                           class: 'form-control', placeholder: 'Where would you like to go?' %>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div id="map">
      </div>
    </div>
    <div class="row">
      <div class="col-3 offset-3">
        <a href="#" class="btn btn-primary btn-block">Get a ride</a>
      </div>
      <div class="col-3 col-3">
        <a href="#" class="btn btn-primary btn-block">Set a drive</a>
      </div>
    </div>
  </div>
</div>

<script async defer
        src= "https://maps.googleapis.com/maps/api/js?key=<%= get_map_key %>&callback=initMap" >
</script>

<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    var map, infoWindow;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Location found.');
                infoWindow.open(map);
                map.setCenter(pos);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
</script>
