<% provide(:title, 'Share Your Ride!') %>

<nav class="navbar navbar-dark bg-dark">
  <label class="navbar-brand">
    <%= image_tag("logo.png",
                  width: "30", height: "30",
                  class: "d-inline-block align-top",
                  alt: "RideShare Logo") %>
    RideShare
  </label>

  <label class="switch">
    <input id="user-role" type="checkbox">
    <span class="slider round"></span>
  </label>

  <%= render 'avatar_button' %>

</nav>

<div id="map"></div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>


<div class="top-space center w-50 input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Choose your starting point:</span>
  </div>
  <input class="form-control" type="text" id="starting_input">
</div>
<div class="top-space center w-50 input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Where would you like to go?</span>
  </div>
  <input class="form-control" type="text" id="destination_input">
</div>
<div class="center top-space w-10">
  <button id="go_button" class="btn btn-primary" type="button"> Get route </button>
</div>


<div class="fixed-bottom d-flex justify-content-center">
  <div class="p-2 bd-highlight">
    <%= link_to "Get a ride!", request_new_path, {remote: true,
                                                  class: 'btn btn-primary btn-block'} %>
  </div>
  <div class="p-2 bd-highlight">
    <%= link_to "Set a drive", request_path, {remote: true,
                                              class: 'btn btn-primary btn-block'} %>
  </div>
</div>

<!-- <%= render 'map_scripts' %> -->
