<% provide(:title, 'Share Your Ride!') %>



<div>
  <%= render 'nav_bar' %>
</div>


<div id="map"></div>

<div class="row search-background">
  <div class="col-10">
    <div class="row">
      <input type="text" id='starting_input' class='form-control' placeholder="Where would you like to start?">
    </div>
    <div class="row">
      <input type="text" id='destination_input' class='form-control' placeholder="Where would you like to go?">
    </div>
  </div>
  <div class="col-2">
    <button type="button" id="ride_button" class="btn btn-primary btn-rounded btn-block" data-toggle="modal" data-target="#ride-request-window">Go!</button>
  </div>
</div>


<div id="ride-request-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render request_form %>
    </div>
  </div>
</div>

<div id="drive-set-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render 'drive_form' %>
    </div>
  </div>
</div>



<%= render 'map_scripts' %>

<%= render 'role_scripts' %>
