<li>
  Sorry!
  Your ride from <%= @ride.short_starting %> to <%= @ride.short_destination %>
  between <%= @ride.pickup_start.to_s(:short) %> and <%= @ride.pickup_end.to_s(:short) %>
  has been canceled by <%= @ride.driver.name %>
</li>
