<div>
  <div class="col-md-8 offset-md-2">
    <%= link_to "Set drive", root_path %>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Starting</th>
            <th scope="col">Ending</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <% @user.drivings.each do |driving| %>
            <tr>
              <th scope="row">#</th>
              <td><%=driving.short_starting %></td>
              <td><%=driving.short_destination %></td>
              <td><%=driving.pickup_start.to_s(:short) %></td>
              <td><%=driving.pickup_end.to_s(:short) %></td>
              <td>
                <%= link_to "details",
                            ride_details_path(id: driving.id, details: 'driving'),
                            remote: true,
                            class: "btn btn-primary" %>
              </td>
            </tr>
          <%end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

