<div class="col-md-10 offset-md-1">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <% if @d_notices.size > 0 %>
          <ul class="jumbotron notice_box">
            <% @d_notices.each do |notice| %>
              <li><%= notice.content %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Start</th>
              <th scope="col">Destination</th>
              <th scope="col">Departure Start</th>
              <th scope="col">Departure End</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="driving_index">
              <% @user.drivings.each do |driving| %>
                <tr id="<%= driving.id %>">
                  <td><%=driving.short_starting %></td>
                  <td><%=driving.short_destination %></td>
                  <td><%=driving.pickup_start.to_s(:short) %></td>
                  <td><%=driving.pickup_end.to_s(:short) %></td>
                  <td>
                    <%= link_to "details",
                                ride_details_path(id: driving.id, details: 'driving'),
                                remote: true,
                                class: "btn btn-primary" %>
                  </td>
                </tr>
              <%end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-end">
        <%= link_to "Set another drive", root_path(role: 'driver'),
                    class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
