<!DOCTYPE html>

<div class="d-flex align-content-center flex-wrap">

  <div class="user_info mx-auto">
    <h1>
    <% if @user.profile_image.attached? %>
    <%= image_tag(@user.profile_image, :size => "200x150") %>
    <% end %>
    <%= @user.name %>
    </h1>


    <div>
      <%= render partial: "upload_button" %>
    </div>

    <div class="justify-content-md-center">
    <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
      <p class="text-monospace"><%= @user.email %></p>
    </div>
    </div>
    <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Phone</span>
      <p class="text-monospace">eg:6177633765</p>
    </div>
    </div>

    <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
      <p class="text-monospace"><%=@user.name %></p>
    </div>
    </div>
    </div>

  </div>

</div>

