<!DOCTYPE html>
<div class="row profile">
  <%= render 'upload_button' %>
  <div class="col-md-8 offset-md-3">
    <div class="row">
      <div class="col-md-8">
        <% if @user.profile_image.attached? %>
          <button type="button" class="btn btn-outline-light user_avatar" data-toggle="modal" data-target="#exampleModalCenter">
            <%= image_tag(@user.profile_image, :size => "200x200", :class => "user_avatar") %>
          </button>
        <% else %>
          <button type="button" class="btn btn-outline-light user_avatar" data-toggle="modal" data-target="#exampleModalCenter">
            <%= image_tag('user_default.png', :size => "200x200", :class => "user_avatar") %>
          </button>
        <% end %>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Email</th>
                <th scope="col"><%= best_in_place @user, :email, :as => :input%></th>
              </tr>
            </table>

            <table class="table">
              <thead>
              <tr>
                <th scope="col">Phone</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="col"><%= best_in_place( @user, :phone_number, :as => :input, :place_holder => "Click to add!")%></th>
              </tr>
              </tbody>
            </table>

            <table class="table">
              <thead>
              <tr>
                <th scope="col">Emergency Contact</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="col"><%= best_in_place @user, :emergency_contact, :as => :input, :place_holder => "Click to add!"%></th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

