<!DOCTYPE html>

<div class="col-md-10 offset-md-1">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-7">
            <% if @user.vehicle_image.attached? %>
              <button type="button" class="btn btn-outline-light user_avatar" data-toggle="modal" data-target="#vehicle-window">
                <%= image_tag(@user.vehicle_image, :size => "400x400", :class => "user_avatar") %>
              </button>
            <% else %>
              <button type="button" class="btn btn-outline-light user_avatar" data-toggle="modal" data-target="#vehicle-window">
                <%= image_tag('user_default.png', :size => "400x400", :class => "user_avatar") %>
              </button>
            <% end %>
          </div>
          <div class="col-5">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">License Number</th>
                <th scope="col">Make</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row"><%= best_in_place @user, :license_number, :as => :input, :place_holder => "Click to add!"%></th>
                <td><%= best_in_place @user, :vehicle_make, :as => :input, :place_holder => "Click to add!"%></td>
              </tr>
              </tbody>
              <thead>
              <tr>
                <th scope="col">Model</th>
                <th scope="col">Plate</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row"><%= best_in_place @user, :vehicle_model, :as => :input, :place_holder => "Click to add!"%></th>
                <td><%= best_in_place @user, :vehicle_plate, :as => :input, :place_holder => "Click to add!"%></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
