<!DOCTYPE html>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <%= render 'upload_vehicle_image_button' %>
            <% if @user.vehicle_image.attached? %>
              <button type="button" class="btn btn-outline-light user_avatar" data-toggle="modal" data-target="#exampleModalCenter">
                <%= image_tag(@user.vehicle_image, :size => "200x200", :class => "user_avatar") %>
              </button>
            <% else %>
              <button type="button" class="btn btn-outline-light user_avatar" data-toggle="modal" data-target="#exampleModalCenter">
                <%= image_tag('user_default.png', :size => "200x200", :class => "user_avatar") %>
              </button>
            <% end %>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">License Number</th>
                <th scope="col">Make</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><%= best_in_place @user, :license_number, :as => :input, :place_holder => "Click to add!"%></th>
                <td><%= best_in_place @user, :vehicle_make, :as => :input, :place_holder => "Click to add!"%></td>
              </tr>
            </tbody>


            <thead>
            <tr>
              <th scope="col">Model</th>
              <th scope="col">Plate</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row"><%= best_in_place @user, :vehicle_model, :as => :input, :place_holder => "Click to add!"%></th>
              <td><%= best_in_place @user, :vehicle_plate, :as => :input, :place_holder => "Click to add!"%></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
          <!--
          <div class="col-md-4 offset-md-2">
            <p class="mt-1">License Number</p>
            <p class="mt-1">Vehicle Make</p>
            <p class="mt-1">Vehicle Model</p>
            <p class="mt-1">Vehicle Plate</p>
          </div>
          <div class="col-md-4">
            <p class="bg-secondary text-white mb-3 rounded text-center">
              <%= best_in_place @user, :license_number, :as => :input, :place_holder => "Click to add!"%>
            </p>
            <p class="bg-secondary text-white mb-3 rounded text-center">
              <%= best_in_place @user, :vehicle_make, :as => :input, :place_holder => "Click to add!"%>
            </p>
            <p class="bg-secondary text-white mb-3 rounded text-center">
              <%= best_in_place @user, :vehicle_model, :as => :input, :place_holder => "Click to add!"%>
            </p>
            <p class="bg-secondary text-white mb-3 rounded text-center">
              <%= best_in_place @user, :vehicle_plate, :as => :input, :place_holder => "Click to add!"%>
            </p>
          </div>
          </div>
          </div>
          -->


    </div>
  </div>
</div>