<!DOCTYPE html>
<% provide(:title, @user.name) %>


<div class="row w-100 mx-0" style="height:100%;">
  <div class="col-md-auto side-menu" style="background-color: #177cb0; height:100%;">
    <a class="" href="/">
      <%= image_tag("logo.png", width: "165", height: "70", class: "d-inline-block align-top", alt: "") %>
    </a>
    <ul class="nav flex-column nav-pills" id="pills-tab" role="tablist">
      <li class="nav-item w-100">
        <a class="nav-link active" data-toggle="pill"  role="tab" href="#profile">
          <%=image_tag("user.png", width: "25", height: "25", class: "my-auto ml-2") %>
          Profile
        </a>
      </li>
      <li class="nav-item w-100">
        <a class="nav-link" data-toggle="pill" role="tab" href="#trips">
          <%=image_tag("trips.png", width: "25", height: "25", class: "my-auto ml-2") %>
          Trips
        </a>
      </li>
      <li class="nav-item w-100">
        <a class="nav-link" data-toggle="pill" role="tab" href="#vehicle">
          <%=image_tag("car.png", width: "25", height: "25", class: "my-auto ml-2") %>
          Vehicle
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md tab-content" id="myTabContent">
    <div class="top-menu mb-3">
      <div class="nav-right" style="background-color: #065279; height: 70px">
        <div class="row align-middle w-100" style="height: 100%">
          <%= link_to "Log out", logout_path, class: "text-light  ml-auto my-auto mr-2", method: :delete %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="profile" role="tabpanel">
      <%= render 'profile' %>
    </div>
    <div class="tab-pane fade" id="trips" role="tabpanel">
      <%= render 'trips' %>
    </div>
    <div class="tab-pane fade" id="vehicle" role="tabpanel">
      <%= render 'vehicle' %>
    </div>
  </div>
</div>

  <div id="details-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>
