<!DOCTYPE html>
<% provide(:title, @user.name) %>


<div class="row w-100 mx-0" style="height:100%;">
  <div class="col-md-auto side-menu" style="background-color: #177cb0; height:100%;">
    <a class="" href="/">
      <%= image_tag("logo.png", width: "165", height: "70", class: "d-inline-block align-top", alt: "") %>
    </a>

    <!-- Please ensure the structure and class and id of ul are not changed -->
    <ul class="nav flex-column nav-pills" id="pills-left" role="tablist">
      <li class="nav-item w-100">
        <a class="nav-link <%= show_profile %>" data-toggle="pill"  role="tab" href="#profile">
          <%=image_tag("user.png", width: "25", height: "25", class: "my-auto ml-2") %>
          Profile
        </a>
      </li>
      <li class="nav-item w-100">
        <a class="nav-link" data-toggle="pill" role="tab" href="#trips">
          <%=image_tag("trips.png", width: "25", height: "25", class: "my-auto ml-2") %>
          Trips
        </a>
      </li>
      <li class="nav-item w-100">
        <a class="nav-link" data-toggle="pill" role="tab" href="#vehicle">
          <%=image_tag("car.png", width: "25", height: "25", class: "my-auto ml-2") %>
          Vehicle
        </a>
      </li>
    </ul>

  </div>

  <div class="col-md" id="right_down_panel">
    <div class="top-menu mb-3">
        <!-- Please ensure the structure and class and id of ul are not changed -->
        <ul class="nav nav-pills h-100" id="pills-top" role="tablist">
          <li class="nav-item ml-auto">
            <a class="nav-link <%= show_requests %> h-100" data-toggle="pill" role="tab" href="#requests" style="display: table;">
              <div class="my-auto" style="display: table-cell; vertical-align: middle;">
                <span class="position-relative" style="padding-top: 0.25rem; padding-right: 0.5rem;">
                  Requests
                  <span class="request_notice" hidden></span>
                </span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-auto <%= show_drivings %> h-100" data-toggle="pill" role="tab" href="#drivings" style="display: table;">
              <div class="my-auto" style="display: table-cell; vertical-align: middle;">
                <span class="position-relative" style="padding-top: 0.25rem; padding-right: 0.5rem;">
                  Drives
                  <span class="driving_notice" hidden></span>
                </span>
              </div>
            </a>
          </li>
          <div class="my-auto mx-3">
            <%= link_to "Log out", logout_path, class: "text-light mx-2", method: :delete %>
          </div>
        </ul>
      </div>
    </div>
        <div class="col-md tab-content">
          <div class="tab-pane fade <%= show_profile %>" id="profile" role="tabpanel">
            <%= render 'profile' %>
          </div>
          <div class="tab-pane fade" id="trips" role="tabpanel">
            <%= render 'trip_history' %>
          </div>
          <div class="tab-pane fade" id="vehicle" role="tabpanel">
            <%= render 'vehicle' %>
          </div>
          <div class="tab-pane fade <%= show_requests %>" id="requests" role="tabpanel">
            <%= render 'request_index' %>
          </div>
          <div class="tab-pane fade <%= show_drivings %>" id="drivings" role="tabpanel">
            <%= render 'driving_index' %>
          </div>
        </div>
  </div>

</div>

<div id="details-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<script>
  $("#pills-left").children().click(function(e){
    $("#pills-top").children().children().each(function(f){
      $(this).removeClass("active");
    });
  });

  $("#pills-top").children().click(function(e){
    $("#pills-left").children().children().each(function(f){
      $(this).removeClass("active");
    });
  });
</script>
