<% @ride ||= ride %>
<% @driver ||= driver %>

<div class="modal-header"
     data-channel="cancel_notifications finish_notifications"
     data-role="rider"
     data-ride-id="<%= @ride.id %>">
  Congrads!
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <%= @driver.name %> has accepted your request!
</div>
<div class="modal-footer">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Send a message
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="container">
      <%= form_tag user_message_path(id: @driver.id), method: :post,
                   html: { class: "form-group" } do %>
        <%= text_area_tag "content", nil, rows: 3, class: "form-control" %>
        <div class="row justify-content-end" style="margin-right: 0; margin-top: 0.5rem;">
          <%= submit_tag "Send", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to "Cancel Ride",
              ride_path(rid: @ride.id, canceled_by: 0),
              method: :delete, remote: true,
              data: { confirm: "Are you sure? The driver may have been on his way" } %>
</div>
