<div class="modal-header"
     data-channel="cancel_notifications"
     data-role="driver"
     data-ride-id="<%= @ride.id %>">
  You're all set to go!
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <%= @ride.rider.name %> would wait you at <%= @ride.starting_address %>!
</div>
<div class="modal-footer">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Send a message
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= form_tag user_message_path(id: @ride.rider.id), method: :post,
                 html: { class: "form-group" } do %>
      <%= text_area_tag "content", nil, rows: 3, class: "form-control" %>
      <%= submit_tag "Send", class: "btn btn-primary" %>
    <% end %>
  </div>
  <%= link_to "Finish Ride",
              ride_path(rid: @ride.id),
              method: :patch, remote: true,
              class: "btn btn-primary" %>
  <%= link_to "Cancel Ride",
              ride_path(rid: @ride.id, canceled_by: 1),
              method: :delete, remote: true,
              data: { confirm: "Are you sure? The rider is waiting you" } %>
</div>
