<div class="modal-header">
  Sorry!
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  There is no request available currently :(
</div>
<div class="modal-footer">
  <%= form_with model: @drive, scope: :drive, url: request_path, method: :get,
                html: { class: "form-group" } do |f| %>
    <%= f.hidden_field :starting_lat %>
    <%= f.hidden_field :destination_lat %>
    <%= f.hidden_field :starting_lng %>
    <%= f.hidden_field :destination_lng %>
    <%= f.hidden_field :starting_id %>
    <%= f.hidden_field :destination_id %>
    <%= f.hidden_field :duration %>
    <%= f.hidden_field :starting_address %>
    <%= f.hidden_field :destination_address %>
    <%= f.fields_for :scheduled_time do |fields| %>
      <%= fields.hidden_field :day, value: 1 %>
      <%= fields.hidden_field :hour, value: @drive.scheduled_time.in_time_zone(@timezone).hour %>
      <%= fields.hidden_field :minute, value: @drive.scheduled_time.in_time_zone(@timezone).min %>
    <% end %>
    <%= f.submit "Cancel Drive", class: "btn btn-primary" %>
  <% end %>
</div>
