<div class="modal-header">
  Hope you've enjoyed your drive! How's your experience with <b><%= ride.rider.name %></b>?
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<%= form_with model: Review.new, url: ride_review_path(rid: ride.id, role: 'driver'), method: :post,
              html: { class: "form-group" } do |f| %>
  <div class="modal-body">
    <div id="review_error_explanation">
    </div>
    <%= f.hidden_field :target, value: 0 %>
    <%= f.label :review %>
    <%= f.text_area :review, rows: 3, class: 'form-control starting_address mb-3' %>
    <div class="center">
      <label class="mx-4">
        <%= f.radio_button :review_level, 2 %>
        <%= image_tag("good.png", width: "50", height: "50") %>
      </label>
      <label class="mx-4">
        <%= f.radio_button :review_level, 1 %>
        <%= image_tag("ok.png", width: "50", height: "50") %>
      </label>
      <label class="mx-4">
        <%= f.radio_button :review_level, 0 %>
        <%= image_tag("poor.png", width: "50", height: "50") %>
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.submit value:"Submit Review", class: "btn btn-primary" %>
    <%= link_to "Give the review later", ride_new_path(ride: 'drive'), remote: true %>
  </div>
<% end %>
