<div class="modal-header">
  Someone is asking for a ride
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<%= form_tag request_path, method: :get, remote: true,
             html: { class: "form-group" } do %>
  <div class="modal-body">

    <%= hidden_field_tag 'drive[starting_lat]', @drive.starting_lat %>
    <%= hidden_field_tag 'drive[destination_lat]', @drive.destination_lat %>
    <%= hidden_field_tag 'drive[starting_lng]', @drive.starting_lng %>
    <%= hidden_field_tag 'drive[destination_lng]', @drive.destination_lng %>
    <%= hidden_field_tag 'drive[starting_id]', @drive.starting_id %>
    <%= hidden_field_tag 'drive[destination_id]', @drive.destination_id %>
    <%= hidden_field_tag 'drive[duration]', @drive.duration %>
    <%= label_tag "Your starting point" %>
    <%= text_field_tag 'drive[starting_address]', @drive.starting_address,
                       class: 'form-control', readonly: true %>
    <%= label_tag "Your destination" %>
    <%= text_field_tag 'drive[destination_address]', @drive.destination_address,
                       class: 'form-control', readonly: true %>
    <%= label_tag "Your drive start at" %>
    <%= custom_time_show @drive, :drive, :scheduled_time, @timezone %>

    <%= hidden_field_tag 'request[starting_lat]', @riderequest.starting_lat %>
    <%= hidden_field_tag 'request[destination_lat]', @riderequest.destination_lat %>
    <%= hidden_field_tag 'request[starting_lng]', @riderequest.starting_lng %>
    <%= hidden_field_tag 'request[destination_lng]', @riderequest.destination_lng %>
    <%= hidden_field_tag 'request[starting_id]', @riderequest.starting_id %>
    <%= hidden_field_tag 'request[destination_id]', @riderequest.destination_id %>
    <%= hidden_field_tag 'request[created_at]', @riderequest.created_at %>
    <%= label_tag "Rider get in at" %>
    <%= text_field_tag 'request[starting_address]', @riderequest.starting_address,
                       class: 'form-control', readonly: true %>
    <%= label_tag "Rider get off at" %>
    <%= text_field_tag 'request[destination_address]', @riderequest.destination_address,
                       class: 'form-control', readonly: true %>
    <%= label_tag "Rider asked to be pick up between" %>
    <%= custom_time_show @riderequest, :request, :pickup_start, @timezone %>
    <%= label_tag "and" %>
    <%= custom_time_show @riderequest, :request, :pickup_end, @timezone %>
  </div>
  <div class="modal-footer">
    <%= submit_tag "Cancel Drive" %>
    <%= link_to "Accept", request_path(rid: @riderequest.id), method: :patch, remote: true, class: "btn btn-primary" %>
    <%= submit_tag "Pass", class: "btn btn-primary" %>
  </div>
<% end %>
